# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
lerna-debug.log*

#
node_modules/

# storage
storage/tmp/*
storage/logs/*
storage/cache/*

!storage/tmp/empty
!storage/logs/empty
!storage/cache/empty

# tests
tests/*

!tests/system/*
